@page "/"
@using ERP.Backend.gRPCCodeFirst.Interfaces
@using Google.Protobuf.WellKnownTypes
@using ERP.Backend.Models
@using Grpc.Net.Client
@using ProtoBuf.Grpc.Client


<h1>Homepage</h1>

<td>
    <button class="button button_green"> Products</button>
    <button class="button button_black"> Prices</button>
</td>
